*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Space Grotesk", sans-serif;
}
/* Hide horizontal scrollbar */
body {

	overflow-x: hidden;
	background-image: url("https://wallpaperaccess.com/full/1526011.jpg");

}
h1, h2, h3, p {
	color: white;
}



